<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Update')"/>
<body>
<nav th:replace="partials/partials :: navbar"/>

<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{title}">
    <label for="body">Body</label>
    <textarea id="body" th:field="*{body}"></textarea>
    <input type="submit" class="btn" value="SUBMIT">
</form>

</body>
</html>